<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/portrait.css" />
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>

</head>



<body>

    <div class='header' th:replace="~{header :: header}"></div>

    <main class="container">
        <table>
            <thead>
                <tr>
                    <th style="width: 150px;"></th>
                    <th style="width: 400px;">NUMERO AFFAIRE</th>
                    <th>CODE BU</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>De:</strong></td>
                    <td>
                        <span th:text="${cession.info.numeroAffaire}"></span> -
                        <span th:text="${cession.info.service}"></span>
                    </td>
                    <td th:text="${cession.info.numeroAffaire}"></td>
                </tr>
                <tr>
                    <td><strong>A:</strong></td>
                    <td>
                        <span th:text="${cession.info.uoBu}"></span> -
                        <span th:text="${cession.info.uniteOperationnel}"></span>
                    </td>
                    <td th:text="${cession.info.uoBu}"></td>
                </tr>
                <tr>
                    <td><strong>Période:</strong></td>
                    <td><span th:text="${cession.info.dateDebutFormatted}"></span> au
                        <span th:text="${cession.info.dateFinFinal}"></span>
                    </td>
                </tr>
                <tr>
                    <td><strong>Libellé commande:</strong></td>
                    <td th:text="${cession.info.label}"></td>
                </tr>
            </tbody>
        </table>

        <table class="mvt">
            <thead>
                <tr>
                    <th style="width: 80px;">Date</th>
                    <th style="width: 80px;">N°Piece</th>
                    <th style="width: 200px;">Designation</th>
                    <th style="width: 50px;">Qté</th>
                    <th style="width: 80px;">PU</th>
                    <th style="width: 100px;">Montant</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" detail: ${cession.details}">
                    <td th:text="${detail.dateAjout}"></td>
                    <td th:text="${detail.numeroPiece}"></td>
                    <td th:text="${detail.designation}"></td>
                    <td th:text="${detail.formattedQuantite}"></td>
                    <td th:text="${detail.formattedPrixUnitaire}"></td>
                    <td>
                        <strong th:text="${detail.formattedMontant}"></strong>
                    </td>

                </tr>
            </tbody>
        </table>

        <table class="visa">
            <thead>
                <tr>
                    <th style="width: 550px;">Validé par</th>
                    <th style="width:200px; text-align:end">MONTANT TOTAL</th>
                    <th style=" width:150px;text-align: start;" th:text="${cession.info.montantTotalFormatted}"></th>
                </tr>
            </thead>
        </table>
    </main>
</body>

</html>