.date {
   position: absolute;
   top: 1.5%;
   left: 80%;
   width: 150px;
   font-size: 14px;
}

.logo {
   width: 150px;
   height: 40px;
}

body {
   width: 596px;
   height: 842px;
   font-family: "Arial Thin", Arial, sans-serif;
}

.logo {
   position: absolute;
   top: 0%;
   left: 0%;
}

.title {
   position: absolute;
   top: 1%;
   left: 25%;
   font-size: 20px;
   text-align: center;
   width: 350px;
   font-weight: 700;
   text-transform: uppercase;
}

.ue {
   text-transform: uppercase;
   position: absolute;
   top: 5%;
   left: 6%;
   font-weight: bolder;
   font-size: 8px;
}

.container {
   font-size: 13px;
   position: absolute;
   top: 7%;
}

.container {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.mt-5 {
   margin-top: 10px;
}

th {
   text-align: left; /* Alignement à gauche, facultatif */
}
tr {
   height: 20px; /* Hauteur des lignes, facultatif */
}

table {
   width: 100%;
}

.mvt {
   border-collapse: collapse; /* Fusionne les bordures des cellules */
   width: 100%; /* Optionnel : ajuste la largeur du tableau */
   margin-top: 20px;
}

.mvt th,
.mvt td {
   border: 2px solid black; /* Bordure fine, couleur grise */
   padding: 3px; /* Espace à l'intérieur des cellules */
   text-align: left; /* Alignement à gauche */
}

.visa {
   margin-top: 30px;
}

.text-r {
   text-align: right;
}
